<div class="three-js">
  <div class="preview" #previewContainer></div>
  <div class="controls">
    <div *ngFor="let config of bottomFrameConfigs; let i = index">
      <h4>Cadre bas #{{i + 1}}</h4>
      <label>Largeur :
        <input type="number" min="0.1" step="0.1" [(ngModel)]="config.width" (input)="onDimensionChange()" style="width: 60px;">
      </label>
      <label>Petite hauteur :
        <input type="number" min="0.1" step="0.1" [(ngModel)]="config.lowHeight" (input)="onDimensionChange()" style="width: 60px;">
      </label>
      <label>Hauteur :
        <input type="number" min="0.1" step="0.1" [(ngModel)]="config.height" (input)="onDimensionChange()" style="width: 60px;">
      </label>
      <label>Ouverture :
        <select [(ngModel)]="config.openingDirection" (change)="onDimensionChange()">
          <option *ngFor="let direction of openingDirectionOptions" [value]="direction">{{ direction }}</option>
        </select>
      </label>
      <label>Forme :
        <select [(ngModel)]="config.shape" (change)="onDimensionChange()">
          <option *ngFor="let shape of shapeOptions" [value]="shape">{{ shape }}</option>
        </select>
      </label>
      <label>PB H :
        <input type="number" [(ngModel)]="config.horizontalGlazingBarsNb" (input)="onDimensionChange()">
      </label>
      <label>PB V :
        <input type="number" [(ngModel)]="config.verticalGlazingBarsNb" (input)="onDimensionChange()">
      </label>
      <label>Traverses :
        <input type="number" [(ngModel)]="config.railNb" (input)="onDimensionChange()">
      </label>
      <label>Montants :
        <input type="number" [(ngModel)]="config.stileNb" (input)="onDimensionChange()">
      </label>
      <button (click)="removeBottomFrame(i)" *ngIf="bottomFrameConfigs.length > 1">Supprimer</button>
    </div>
    
    <button (click)="addBottomFrame()">Ajouter un cadre bas</button>
    <button (click)="toggleTopFrame()">Toggle cadre haut</button>
    
    <div *ngIf="hasTopFrame">
      <h4>Cadre haut</h4>

      <label>Hauteur :
        <input type="number" min="0.1" step="0.1" [(ngModel)]="topFrameConfig.height" (input)="onDimensionChange()" style="width: 60px;">
      </label>

      <label>Petite hauteur :
        <input type="number" min="0.1" step="0.1" [(ngModel)]="topFrameConfig.lowHeight" (input)="onDimensionChange()" style="width: 60px;">
      </label>
    
      <label>Forme :
        <select [(ngModel)]="topFrameConfig.shape" (change)="onDimensionChange()">
          @for(shape of shapeOptions; track shape) {
            <option [value]="shape">{{shape}}</option>
          }
        </select>
      </label>
    
      <label style="margin-left: 1em;">Ouverture :
        <select [(ngModel)]="topFrameConfig.openingDirection" (change)="onDimensionChange()">
          @for(dir of openingDirectionOptions; track dir) {
            <option [value]="dir">{{dir}}</option>
          }
        </select>
      </label>
    
      <label style="margin-left: 1em;">PB H :
        <input type="number" [(ngModel)]="topFrameConfig.horizontalGlazingBarsNb" (input)="onDimensionChange()" style="width: 50px;">
      </label>
    
      <label style="margin-left: 1em;">PB V :
        <input type="number" [(ngModel)]="topFrameConfig.verticalGlazingBarsNb" (input)="onDimensionChange()" style="width: 50px;">
      </label>
    
      <label style="margin-left: 1em;">Traverses :
        <input type="number" [(ngModel)]="topFrameConfig.railNb" (input)="onDimensionChange()" style="width: 50px;">
      </label>
    
      <label style="margin-left: 1em;">Montants :
        <input type="number" [(ngModel)]="topFrameConfig.stileNb" (input)="onDimensionChange()" style="width: 50px;">
      </label>
    </div>
  </div>
</div>
